h1,p{
    margin-top: 0;
}


.card{
    background-color: black;
    color: #fff;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

h1{
    font-size: 24px;
}

.links{
    margin-top: 45px;
    margin-bottom: 0px;
}

p{
    font-size: 18px;
    
}

strong{
    
    color: #fff;
}

.yellow{
    color: yellow;
}

a{
    color: #ffe600;
}

.button{
    background: #ffe600;
    padding: 20px;
    color: black;
    display: inline-block;
    margin-right: 25px;
}

.button:hover{
background-color: red;
}

a:hover,a:focus{
    color: aqua;
}

